<div class="common-dialog" style="display: none">
    <div class="common-dialog-content">
        <div class="row common-dialog-content-title">
            <div class="col-xs-11">
                <span class="common-dialog-title"></span>
            </div>
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-remove close-common-dialog-icon"></span>
            </div>
        </div>
        <div class="row common-dialog-content-body">
            <span class="common-dialog-content-body-text"></span>
        </div>
        <div class="row common-dialog-content-footer">
            <button class="btn btn-confirm"></button>
            <button class="btn btn-cancel"></button>
        </div>
    </div>
</div>

