/*side navbar*/
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgb(0,131,143);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: none;
}

  .sidenav hr {
    margin-left: 32px;
    margin-right: 45px;
    color: lightblue;
    background-color: lightblue;
    border-color: lightblue;
  }

  .sidenav a {
    padding: 8px 8px 8px 37px;
    text-decoration: none;
    font-size: 19px;
    display: block;
    transition: 0.3s;
    color: whitesmoke;
  }

    .sidenav a:hover {
      color: lightblue;
    }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 25px;
    margin-left: 50px;
  }
/*side navbar end*/

/*navbar*/
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

    .sidenav a {
      font-size: 18px;
      margin-top: 20px;
    }
}

.navbar-menu {
  float: left;
  margin-top: 3px;
}

  .navbar-menu .open-menu-icon {
    font-size: 20px;
    cursor: pointer;
  }

.navbar-account {
  margin-top: 3px;
}

  .navbar-account .log-out-icon {
    font-size: 20px;
    cursor: pointer;
    float: right;
  }

.navbar-left, .navbar-right {
  float: none !important;
}

.navbar-toggle {
  display: block;
}

.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

.navbar-fixed-top {
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar {
  height: 64px;
  top: 0;
  border-radius: 0px;
  border-color: transparent;
  background-color: rgb(0,131,143);
  box-shadow: 0px 1px 6px 0px lightslategrey;
  margin-bottom: 20px;
}

  .navbar .navbar-controls {
    margin: 17px auto 0 auto;
    height: 47px;
  }

.navbar-title {
  margin-top: 3px;
}

  .navbar-title button {
    background-color: rgb(104,159,56);
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: -4px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  }

    .navbar-title button:hover {
      background-color: rgb(124,179,66);
      color: white;
    }
/*navbar end*/


/*spinner*/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.5);
  z-index: 101;
  display: none;
}

  .spinner-wrap .spinner {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 50px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid rgb(0,131,143);
    border-right-color: transparent;
    border-radius: 100%;
  }
/*spinner-end*/

/*material form group*/
.material-form-group {
  position: relative;
  margin-top: 25px;
  margin-bottom: 30px;
}

  .material-form-group label {
    position: absolute;
    top: 7px;
    left: 0px;
    -webkit-transition: top .3s cubic-bezier(0,1,0,1);
    -moz-transition: top .3s cubic-bezier(0,1,0,1);
    transition: top .3s cubic-bezier(0,1,0,1);
    font-family: 'fagono',sans-serif;
    font-size: 1.6rem;
    font-size: 16px;
    font-weight: 400;
    color: #948d8d;
    cursor: text
  }

    .material-form-group label span.full-label-text {
      display: inline;
    }
    .material-form-group label span.short-label-text {
      display: none;
    }

    .material-form-group label.labelfocus {
      top: -15px;
      left: 0;
      -webkit-transition: top .3s cubic-bezier(0,1,0,1);
      -moz-transition: top .3s cubic-bezier(0,1,0,1);
      transition: top .3s cubic-bezier(0,1,0,1);
      font-family: 'fagono',sans-serif;
      font-size: 1.3rem;
      font-size: 13px;
      font-weight: 400;
      color: rgb(0, 131, 143);
    }

      .material-form-group label.labelfocus span.full-label-text {
        display: none;
      }

      .material-form-group label.labelfocus span.short-label-text {
        display: inline;
        color: #948d8d;
      }

.material-form-control {
  box-shadow: none;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding-left: 0;
  background-color: transparent;
  font-size: 1.6rem;
  font-size: 16px;
}
  .material-form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid rgb(0, 131, 143);
  }
/*material form group end*/


.search-form-group {
  position: relative;
  margin-top: 25px;
  margin-bottom: 30px;
}

  .search-form-group label {
    position: absolute;
    top: 7px;
    left: 0px;
    -webkit-transition: top .3s cubic-bezier(0,1,0,1);
    -moz-transition: top .3s cubic-bezier(0,1,0,1);
    transition: top .3s cubic-bezier(0,1,0,1);
    font-family: 'fagono',sans-serif;
    font-size: 1.6rem;
    font-size: 16px;
    font-weight: 400;
    color: #948d8d;
    cursor: text
  }

    .search-form-group label span.full-label-text {
      display: inline;
    }

    .search-form-group label span.short-label-text {
      display: none;
    }

    .search-form-group label.labelfocus {
      top: -15px;
      left: 0;
      -webkit-transition: top .3s cubic-bezier(0,1,0,1);
      -moz-transition: top .3s cubic-bezier(0,1,0,1);
      transition: top .3s cubic-bezier(0,1,0,1);
      font-family: 'fagono',sans-serif;
      font-size: 1.3rem;
      font-size: 13px;
      font-weight: 400;
      color: rgb(0, 131, 143);
    }

      .search-form-group label.labelfocus span.full-label-text {
        display: none;
      }

      .search-form-group label.labelfocus span.short-label-text {
        display: inline;
        color: #948d8d;
      }

.search-form-control {
  box-shadow: none;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding-left: 0;
  background-color: transparent;
  font-size: 1.6rem;
  font-size: 16px;
}

  .search-form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid rgb(0, 131, 143);
  }

.right-inner-addon {
  position: relative;
}

  .right-inner-addon .clear-search-icon {
    display: none;
  }

  .right-inner-addon input {
    padding-right: 30px;
  }

  .right-inner-addon .search-icon {
    display: inline;
    position: absolute;
    right: -5px;
    padding: 10px 12px;
    pointer-events: none;
    color: rgb(112, 112, 112);
  }

  .right-inner-addon.filled .clear-search-icon {
    display: inline;
    position: absolute;
    right: -5px;
    padding: 10px 12px;
    pointer-events: painted;
    color: rgb(112, 112, 112);
    cursor: pointer;
  }

  .right-inner-addon.filled .search-icon {
    display: none;
  }

.labeled-dropdown {
  margin-top: -5px;
}
  .labeled-dropdown .btn.labeled-dropdown-toggle {
    font-size: 16px;
    background-color: transparent;
    border-color: #ccc;
    color: #555;
    padding-left: 0;
  }
    .labeled-dropdown .btn.labeled-dropdown-toggle:active {
      box-shadow: none;
    }
    .labeled-dropdown .btn.labeled-dropdown-toggle:focus {
      outline: none;
      border-bottom: 2px solid rgb(0, 131, 143);
    }
  .labeled-dropdown .labeled-dropdown-toggle, .caret {
    color: #555;
  }

  .labeled-dropdown .caret {
    float: right;
    margin-top: 9px;
  }

.labeled-dropdown-group {
}
  .labeled-dropdown-group .labeled-dropdown-label {
    left: 0;
    -webkit-transition: top .3s cubic-bezier(0,1,0,1);
    -moz-transition: top .3s cubic-bezier(0,1,0,1);
    transition: top .3s cubic-bezier(0,1,0,1);
    font-family: 'fagono',sans-serif;
    font-size: 1.3rem;
    font-size: 13px;
    font-weight: 400;
    color: #948d8d;
    margin-bottom: 4px;
    margin-top: 10px;
  }
    .labeled-dropdown-group .labeled-dropdown-label.focused {
      color: rgb(0, 131, 143);
    }
  .labeled-dropdown-group.unset .btn.labeled-dropdown-toggle {
    color: #948d8d;
  }
  .labeled-dropdown-group.unset .labeled-dropdown-label {
    visibility: hidden;
  }

.labeled-dropdown-toggle {
  box-shadow: none;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  width: 100%;
  text-align: left;
}

  .labeled-dropdown-toggle:focus {
    border-bottom: 2px solid rgb(0, 131, 143);
  }

.labeled-dropdown-menu {
  border-radius: 0;
  padding: 0;
  width: 100%;
}

  .labeled-dropdown-menu li:hover {
    background-color: rgb(245, 245, 245);
  }

  .labeled-dropdown-menu li.selected {
    background-color: rgb(245, 245, 245);
  }

  .labeled-dropdown-menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }

  .labeled-dropdown-menu li.selected a {
    color: rgb(0, 131, 143);
  }

  .labeled-dropdown-menu li label {
    font-size: 16px;
  }

/*material checkbox*/
.label-check {
  padding: 0;
}
.label-check .checkbox {
  margin: 0 auto;
}
  .label-check label {
    color: #555;
    display: block;
    width: 100%;
    padding: 13px 0 13px 60px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .label-check input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
  }
    .label-check input[type="checkbox"]:focus {
      outline: none;
    }
      .label-check input[type="checkbox"]:focus + label:after {
        border-color: #2196f3;
      }
    .label-check input[type="checkbox"] + label:after {
      content: "";
      position: absolute;
      top: 16px;
      left: 20px;
      display: block;
      width: 18px;
      height: 18px;
      margin-top: -2px;
      margin-right: 5px;
      border: 2px solid #666666;
      border-radius: 2px;
      -webkit-transition: 240ms;
      -o-transition: 240ms;
      transition: 240ms;
    }
    .label-check input[type="checkbox"]:checked + label:before {
      content: "";
      position: absolute;
      top: 15px;
      left: 26px;
      display: table;
      width: 6px;
      height: 12px;
      border: 2px solid #fff;
      border-top-width: 0;
      border-left-width: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 1;
    }
    .label-check input[type="checkbox"]:checked + label:after {
      background-color: rgb(0,131,143);
      border-color: rgb(0,131,143);
    }
    .label-check input[type="checkbox"]:disabled + label:after {
      border-color: #bbbbbb;
    }
    .label-check input[type="checkbox"]:disabled:checked + label:after {
      background-color: #bbbbbb;
      border-color: transparent;
    }
/*material checkbox end*/

/*common dialog*/
.common-dialog {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 400px;
  min-width: 240px;
  max-width: 80%;
  min-height: 20px;
  height: max-content;
  background-color: white;
  box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
}

  .common-dialog .common-dialog-content {
    margin: 22px 40px;
  }

    .common-dialog .common-dialog-content .common-dialog-content-title {
      height: 35px;
      color: #555;
    }

      .common-dialog .common-dialog-content .common-dialog-content-title div {
        padding: 0;
      }

      .common-dialog .common-dialog-content .common-dialog-content-title .close-common-dialog-icon {
        float: right;
        margin-top: 2px;
        cursor: pointer;
      }

    .common-dialog .common-dialog-content .common-dialog-content-body {
      color: #555;
      min-height: 55px;
      padding: 10px 0;
    }

    .common-dialog .common-dialog-content .common-dialog-content-footer {
      padding-top: 15px;
    }

      .common-dialog .common-dialog-content .common-dialog-content-footer .btn {
        background-color: rgb(0,131,143);
        border-radius: 2px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      }

        .common-dialog .common-dialog-content .common-dialog-content-footer .btn:hover {
          background-color: rgb(0,172,193);
          color: white;
        }

        .common-dialog .common-dialog-content .common-dialog-content-footer .btn.btn-confirm {
          float: right;
        }

        .common-dialog .common-dialog-content .common-dialog-content-footer .btn.btn-cancel {
          float: left;
        }
/*common dialog end*/

.btn-default:active:hover,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus {
  background-color: inherit;
  border-color: #bbbbbb;
}

.ellipsed-column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 99;
  display: none;
}

label.required::after, span.required::after, .labeled-dropdown-group.unset button.required::after {
  content: '*';
  color: red;
}

.btn[disabled], .btn[disabled]:hover {
  background-color: buttonface !important;
}
