body {
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 18px;
  color: whitesmoke;
  background-color: whitesmoke;
  letter-spacing: 0.5px;
}

.task-list > .panel {
  margin-bottom: 8px;
  border-radius: 0px;
  height: 47px;
  box-shadow: 0px 2px 1px 0px lightgrey;
}
  .task-list > .panel.task-item {
    cursor: pointer;
  }
    .task-list > .panel.task-item.task-selected {
      background-color: #e6e6e6;
    }
    .task-list > .panel.task-item .name-col {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  .task-list > .panel > .panel-body {
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
  }
    .task-list > .panel > .panel-body > .marker {
      width: 10px;
      height: 45px;
      margin-right: 0px;
      margin-left: -35px;
      margin-top: -15px;
      position: absolute;
    }
      .task-list > .panel > .panel-body > .marker.marker-red {
        background-color: red;
      }
      .task-list > .panel > .panel-body > .marker.marker-green {
        background-color: green;
      }
      .task-list > .panel > .panel-body > .marker.marker-yellow {
        background-color: yellow;
      }
    .task-list > .panel > .panel-body > .row {
      margin-top: -4px;
      color: #555;
    }
      .task-list > .panel > .panel-body > .row .not-found {
        color: #cecaca;
      }
      .task-list > .panel > .panel-body > .row .result, .date {
        font-size: 14.4px;
        margin-top: 2px;
      }
        .task-list > .panel > .panel-body > .row .result .user-icon {
          width: 13px;
          height: 13px;
          display: inline-block;
          margin-bottom: -2px;
          margin-right: 5px;
          background-position: center;
          background-size: cover;
          background-image: url("/Content/images/user-icon-black.svg");
        }

.task-tooltip {
  display: none;
  position: absolute;
  border-radius: 2px;
  padding: 10px 15px;
  color: #555;
  min-width: unset;
  pointer-events: none;
}
  .task-tooltip .task-tooltip-item {
    padding: 5px 0px;
    font-size: 18px;
  }
    .task-tooltip .task-tooltip-item .task-tooltip-item-agent {
      display: inline-block;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: -7px;
    }
    .task-tooltip .task-tooltip-item .task-tooltip-item-icon {
      margin-left: 10px;
      width: 22px;
      height: 22px;
      float: right;
      background-position: center;
      background-size: cover;
    }
      .task-tooltip .task-tooltip-item .task-tooltip-item-icon.task-tooltip-item-icon-ok {
        background-image: url(/Content/images/ok-icon-green.svg);
      }
      .task-tooltip .task-tooltip-item .task-tooltip-item-icon.task-tooltip-item-icon-alert {
        background-image: url(/Content/images/alert-icon-red.svg);
      }

.task-context-menu {
  display: none;
  position: absolute;
  border-radius: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
  min-width: 110px;
  padding: 0;
}
  .task-context-menu .task-context-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
    .task-context-menu .task-context-menu-item .task-context-menu-item-icon {
      padding-right: 15px;
    } 

.task-card {
  background-color: white;
  height: 100%;
  width: 450px;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
  color: #555;
  font-size: 18px;
  box-shadow: 4px 0px 20px 0px black;
}
  .task-card .row {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .task-card .header {
    margin-top: 0;
  }
  .task-card .task-card-title {
    margin-top: 30px;
  }
  .task-card .close-task-card-icon {
    float: right;
    right: 5px;
    font-size: 15px;
    color: #555;
  }
  .task-card .inn {
    float: left;
  }
  .task-card .date {
    float: right;
    font-size: 18px;
  }
  .task-card .username {
  }
    .task-card .username .user-icon {
      color: rgb(0, 131, 143);
    }
  .task-card .purpose-of-payment {
    word-wrap: break-word;
    margin: 0 40px;
  }
  .task-card .status-wait {
    color: #cecaca;
  }
  .task-card .no-comment {
    color: #cecaca;
  }
  .task-card .little-label {
    top: -15px;
    left: 0;
    -webkit-transition: top .3s cubic-bezier(0,1,0,1);
    -moz-transition: top .3s cubic-bezier(0,1,0,1);
    transition: top .3s cubic-bezier(0,1,0,1);
    font-family: 'fagono',sans-serif;
    font-size: 1.3rem;
    font-size: 13px;
    font-weight: 400;
    color: rgb(0, 131, 143);
    display: block;
    margin-bottom: 7px;
  }
  .task-card .has-comment {
    color: #cecaca;
  }
    .task-card .has-comment .comment {
      color: #cecaca;
      color: #555;
      word-wrap: break-word;
    }
  .task-card .no-image {
    color: #cecaca;
  }
  .task-card .resolution {
    color: #999;
    float: right;
  }
  .task-card .resolution-ok {
    color: rgb(0, 131, 143); 
  }
  .task-card .resolution-fail {
    color: rgb(242, 7, 7);
  }
  .task-card .resolution-image-wrap {
    max-width: 100%;
    max-height: 300px;
  }
    .task-card .resolution-image-wrap .resolution-image {
      margin: 0 auto;
      width: auto;
      max-height: 100%;
      display: table;
      position: relative;
    }
    .task-card .resolution-image-wrap .resolution-image img.image {
      margin: 0 auto;
      max-width: 100%;
      max-height: 300px;
      display: block;
      transform: translateY(0%);
    }
    .task-card .resolution-image-wrap .resolution-image .download-resolution-image-icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 25px;
      background-color: #000000;
      opacity: 0.8;
      cursor: pointer;
    }
      .task-card .resolution-image-wrap .resolution-image .download-resolution-image-icon img {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        background-color: #000000;
        opacity: 0.8;
        pointer-events: none;
        padding: 4px;
      }
  .task-card hr {
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    height: 2px;
    color: #cecaca;
    background-color: #cecaca;
  }


.new-task-dialog {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 460px;
  min-width: 240px;
  max-width: 80%;
  height: fit-content;
  background-color: white;
  box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
  display: none;
}
  .new-task-dialog .new-task-dialog-content {
    margin: 22px 40px;
  }
    .new-task-dialog .new-task-dialog-content .new-task-dialog-content-title {
      height: 35px;
      color: #555;
    }
      .new-task-dialog .new-task-dialog-content .new-task-dialog-content-title div {
        padding: 0;
      }
      .new-task-dialog .new-task-dialog-content .new-task-dialog-content-title .close-new-task-dialog-icon {
        float: right;
        margin-top: 2px;
        cursor: pointer;
      }
    .new-task-dialog .new-task-dialog-content .new-task-dialog-content-body {
      height: fit-content;
    }
      .new-task-dialog .new-task-dialog-content .new-task-dialog-content-body .new-task-card-inn-wrap {
        width: 75%;
      }
        .new-task-dialog .new-task-dialog-content .new-task-dialog-content-body .new-task-card-inn-wrap .new-task-card-name {
          float: right;
          margin-top: -28px;
          font-size: 15px;
          color: #555;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
          .new-task-dialog .new-task-dialog-content .new-task-dialog-content-body .new-task-card-inn-wrap .new-task-card-name.empty {
            color: lightgray;
          }
      .new-task-dialog .new-task-dialog-content .new-task-dialog-content-body .new-task-card-purpose-wrap {
        margin-top: 45px;
        height: fit-content;
      }
      .new-task-dialog .new-task-dialog-content .new-task-dialog-content-body .new-task-card-agents-wrap {
        margin-top: -13px;
        margin-bottom: 25px;
      }
    .new-task-dialog .new-task-dialog-content .new-task-dialog-content-footer {
      float: right;
      padding-bottom: 25px;
    }
      .new-task-dialog .new-task-dialog-content .new-task-dialog-content-footer .btn-create-new-task {
        background-color: rgb(0,131,143);
        border-radius: 2px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      }
        .new-task-dialog .new-task-dialog-content .new-task-dialog-content-footer .btn-create-new-task:hover {
          background-color: rgb(0,172,193);
          color: white;
        }
