<div class="task-card">
    <div class="row header"><a href="#"><span class="glyphicon glyphicon-remove close-task-card-icon"></span></a></div>
    <div class="row task-card-title">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span class="inn"></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span class="date"></span>
        </div>
    </div>
    <div class="purpose-of-payment-wrap">
        <hr />
        <div class="row purpose-of-payment"></div>
    </div>
    <div class="resolutions"></div>
</div>